@{
    ViewData["Title"] = "boxes";
}
<h2>boxes</h2>

<img src="~/images/boxes1.jpg" alt="cat" width="358" height="285">
<br><br><br>
<img src="~/images/boxes2.jpg" alt="cat" width="358" height="285">
<br><br><br>