@{
    string category = ViewData["Category"] as string;
}
<h1>@category</h1>
@if (category.Equals("hats", StringComparison.OrdinalIgnoreCase))
{
    <img src="https://upload.wikimedia.org/wikipedia/en/0/03/TheOreoCat.jpeg" />
    <br />
    <img src="https://upload.wikimedia.org/wikipedia/commons/9/9e/GatosVestidos.jpg" />
    <br />
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTwF9f0m3IcHHIh4QiTBgN3uHKJC2EHVDCIlHMOXzUPxCUgxJ5D" />

}
else if (category.Equals("sunglasses", StringComparison.OrdinalIgnoreCase))
{
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQd2NImZzUj6y84-mYDc_GO5R1FS9pymJ0Lg297sqI20Eh48ZAjjQ" />
    <br />
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQYQnOzezF6941xGcP2TSfQeKTzCBVg4ModnjreMu2xvZldeq78pw" />
    <br />
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTtoX6O6TgN1fxbcfgCa8eMZZeUjru_DqtfSShf-lFGPzrIrx_iIw" />
    <br />
}
else if (category.Equals("boxes", StringComparison.OrdinalIgnoreCase))
{
    <img src= />
    <br />
    <img src= />
    <br />
    <img src= />
    <br />
}
else if (category.Equals("caturday", StringComparison.OrdinalIgnoreCase))
{
    <img src= />
    <br />
    <img src= />
    <br />
    <img src= />
    <br />
}
else if (category.Equals("clothes", StringComparison.OrdinalIgnoreCase))
{
    <img src= />
    <br />
    <img src= />
    <br />
    <img src= />
    <br />
}
else if (category.Equals("dream", StringComparison.OrdinalIgnoreCase))
{
    <img src= />
    <br />
    <img src= />
    <br />
    <img src= />
    <br />
}
else if (category.Equals("Funny", StringComparison.OrdinalIgnoreCase))
{
    <img src= />
    <br />
    <img src= />
    <br />
    <img src= />
    <br />
}
else if (category.Equals("hats", StringComparison.OrdinalIgnoreCase))
{
    <img src= />
    <br />
    <img src= />
    <br />
    <img src= />
    <br />
}
else if (category.Equals("Sink", StringComparison.OrdinalIgnoreCase))
{
    <img src= />
    <br />
    <img src= />
    <br />
    <img src= />
    <br />
}
else if (category.Equals("space", StringComparison.OrdinalIgnoreCase))
{
    <img src= />
    <br />
    <img src= />
    <br />
    <img src= />
    <br />
}
else if (category.Equals("Sunglasses", StringComparison.OrdinalIgnoreCase))
{
    <img src= />
    <br />
    <img src= />
    <br />
    <img src= />
    <br />
}
else if (category.Equals("ties", StringComparison.OrdinalIgnoreCase))
{
    <img src= />
    <br />
    <img src= />
    <br />
    <img src= />
    <br />
}

