
@{
    ViewData["Title"] = "caturday";
}

<h2>caturday</h2>


<img src="~/images/catday1.jpg" alt="cat" width="358" height="285">

<br><br><br>

<img src="~/images/catday2.jpg" alt="cat" width="358" height="285">

<br><br><br>