
@{
    ViewData["Title"] = "clothes";
}

<h2>clothes</h2>


<img src="~/images/clot1.jpg" alt="cat" width="358" height="285">

<br><br><br>

<img src="~/images/clot2.jpg" alt="cat" width="358" height="285">

<br><br><br>