
@{
    ViewData["Title"] = "dream";
}

<h2>dream</h2>

<img src="~/images/dreamcat1.jpg" alt="cat" width="358" height="285">

<br><br><br>

<img src="~/images/dreamcat2.jpg" alt="cat" width="358" height="285">

<br><br><br>

