
@{
    ViewData["Title"] = "funny";
}

<h2>funny</h2>


<img src="~/images/fun1.jpg" alt="cat" width="358" height="285">

<br><br><br>

<img src="~/images/fun2.jpg" alt="cat" width="358" height="285">

<br><br><br>