
@{
    ViewData["Title"] = "Sunglasses";
}
<h2>Sunglasses</h2>

<img src="~/images/sungls1.jpg" alt="cat" width="358" height="285">

<br><br><br>

<img src="~/images/sungls2.jpg" alt="cat" width="358" height="285">

<br><br><br>